DATABASE_URL="postgresql://artist:artist@db:5432/artist?schema=public"

# db settings
POSTGRES_PASSWORD=artist
POSTGRES_USER=artist
POSTGRES_DB=artist

# jwt settings
JWT_ACCESS_TOKEN_SECRET=example
JWT_ACCESS_TOKEN_EXPIRES_IN=3600

# email settings
EMAIL_HOST=
EMAIL_PORT=587
EMIAL_SECURE=true
EMAIL_ID=
EMAIL_PASS=
